<header class="flex justify-between py-8" data-test-global-header>
  <div class="flex items-center space-x-4">
    <a href="/" data-test-logo>
      <svg
        width="58"
        height="24"
        viewBox="0 0 58 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M11.3287 0.009552C9.46888 0.166941 8.11511 0.529898 6.66142 1.25581C5.50427 1.83397 4.56308 2.50207 3.62834 3.41106C2.61301 4.40036 1.90067 5.36396 1.27214 6.60701C0.608146 7.92714 0.218131 9.24085 0.0408524 10.7665C-0.013943 11.2291 -0.013943 12.7773 0.0408524 13.2398C0.359955 16.0117 1.48809 18.4143 3.38337 20.3512C4.7597 21.7612 6.32298 22.7505 8.1409 23.3672C9.4721 23.8201 10.6035 24 12.0862 24C13.0531 23.9968 13.5495 23.9518 14.3747 23.788C15.4512 23.576 16.3247 23.2805 17.3401 22.7794C18.581 22.1724 19.4577 21.5557 20.4279 20.6113C21.021 20.0364 20.963 20.1071 24.254 16.1306C26.1428 13.8436 26.9937 12.7965 27.0582 12.6616C27.258 12.2537 27.2613 11.7655 27.0646 11.3511C26.9937 11.2034 26.2749 10.3072 24.2894 7.89181C22.8164 6.09951 21.569 4.59629 21.5206 4.55132C21.4723 4.50636 21.3079 4.32327 21.1532 4.14661C20.7857 3.72263 20.0315 2.9935 19.6254 2.66909C17.8203 1.22369 15.7413 0.353237 13.4238 0.0673695C13.0435 0.0223999 11.6478 -0.0193558 11.3287 0.009552ZM13.1498 4.69586C14.6358 4.93034 16.0089 5.59201 17.0919 6.59737C17.4045 6.88966 21.1113 11.3126 21.2176 11.5214C21.295 11.6755 21.3047 11.7334 21.3047 12.0064C21.3047 12.2858 21.295 12.3308 21.208 12.4978C21.0823 12.7355 17.2079 17.319 16.9307 17.5567C15.4609 18.8158 13.6881 19.4454 11.7961 19.3811C10.6615 19.3426 9.72029 19.1017 8.73398 18.6038C7.94105 18.2055 7.35764 17.7751 6.71622 17.1231C5.30121 15.6745 4.55986 13.7666 4.63399 11.7462C4.69523 10.1241 5.20773 8.72693 6.2295 7.41001C6.68076 6.83185 7.46724 6.13163 8.15057 5.71086C8.99828 5.18409 10.0845 4.79865 11.0547 4.68302C11.2159 4.66374 11.3899 4.64126 11.4415 4.63484C11.6575 4.60593 12.8436 4.64768 13.1498 4.69586Z"
          fill="white"
        ></path>
        <path
          d="M27.8194 0.0373631C27.3331 0.146856 26.9361 0.359398 26.5821 0.700756C26.1752 1.09686 25.9634 1.53483 25.8874 2.13381C25.808 2.76178 25.9833 3.36399 26.4398 4.02094C26.635 4.30111 26.6152 4.27535 30.0558 8.22994C31.6008 10.0076 32.7587 11.3633 32.8117 11.4632C32.9539 11.7272 32.9903 11.9849 32.9241 12.2489C32.8911 12.3681 32.8315 12.5259 32.7885 12.5967C32.7422 12.6708 31.3725 14.2649 29.7382 16.1423C28.1072 18.0198 26.6747 19.6783 26.5589 19.8296C26.2943 20.1742 26.0428 20.6444 25.9502 20.9761C25.851 21.3207 25.851 21.8585 25.9502 22.2288C26.1719 23.0564 26.7773 23.6619 27.6408 23.9259C27.8558 23.9903 27.9551 24 28.4017 24C28.8351 24 28.9542 23.9871 29.1725 23.9259C29.8408 23.7392 30.294 23.401 30.9623 22.5991C31.1443 22.3769 33.03 20.1163 35.1473 17.5754C37.268 15.0345 39.0445 12.8801 39.0908 12.7932C39.2463 12.513 39.296 12.2908 39.2794 11.9269C39.2629 11.5759 39.1934 11.344 39.028 11.1089C38.8427 10.8416 30.7572 1.15805 30.5025 0.900417C30.0856 0.47533 29.6853 0.227364 29.1891 0.0856686C28.8748 -0.00128174 28.1238 -0.0302639 27.8194 0.0373631Z"
          fill="#06B6D4"
        ></path>
        <path
          d="M38.887 0.0426083C38.4124 0.152033 38.0249 0.364443 37.6794 0.705587C37.3985 0.985584 37.2274 1.26236 37.1144 1.60994C36.8496 2.44671 36.9723 3.17406 37.5212 3.9883C37.6342 4.15888 39.0646 5.87104 40.6983 7.79561C42.4257 9.82961 43.7075 11.3648 43.7591 11.4613C43.9399 11.8121 43.9399 12.1919 43.7591 12.5427C43.7075 12.6392 42.5774 13.9941 41.0696 15.7707C37.6988 19.7421 37.7311 19.7003 37.5406 19.9803C37.1435 20.566 36.9885 21.023 36.9917 21.5927C36.9982 22.7159 37.6407 23.5816 38.7126 23.9163C38.9225 23.9807 39.0194 23.9903 39.4552 23.9903C39.8782 23.9903 39.9944 23.9775 40.2075 23.9163C40.7047 23.7747 41.0954 23.5301 41.5055 23.0989C41.6475 22.9508 42.7776 21.583 44.0174 20.0575C46.3679 17.1642 46.3712 17.161 46.7037 17.0516C46.8974 16.9872 47.2526 17.0033 47.4625 17.0838C47.5593 17.1192 47.7079 17.2125 47.7918 17.2865C47.8758 17.3638 48.8896 18.5899 50.0487 20.0157C51.2046 21.4414 52.2313 22.703 52.3282 22.8221C53.0223 23.6749 53.7746 24.0386 54.7562 23.9968C55.4536 23.971 55.9443 23.7618 56.406 23.2984C56.7225 22.9862 56.9033 22.6773 57.0227 22.2492C57.1196 21.9177 57.1261 21.2998 57.0421 20.9812C56.9582 20.6722 56.6966 20.1669 56.448 19.8387C56.3253 19.6778 54.9176 18.0042 53.3129 16.115C51.5726 14.065 50.3619 12.6103 50.3102 12.5105C50.2327 12.356 50.223 12.3077 50.223 12.002C50.223 11.7091 50.2327 11.6415 50.3038 11.5031C50.3522 11.4066 51.5468 9.97443 53.3194 7.88251C54.9337 5.98046 56.3479 4.30048 56.4609 4.14922C56.6966 3.8306 56.9582 3.32211 57.0421 3.0228C57.1261 2.70418 57.1196 2.08626 57.0227 1.75477C56.7967 0.946964 56.2091 0.35157 55.389 0.0941029C55.0694 -0.00566673 54.4494 -0.031414 54.0781 0.0426083C53.3775 0.184216 52.8415 0.54789 52.2378 1.29455C49.729 4.38738 47.8209 6.71103 47.7337 6.77539C47.4786 6.97171 47.0976 7.04895 46.7844 6.96849C46.3809 6.86551 46.4487 6.93953 43.9884 3.91106C42.7324 2.36947 41.6023 1.00168 41.4764 0.872942C41.0922 0.477085 40.6918 0.226055 40.2237 0.0908833C39.9169 0.00398827 39.184 -0.0249767 38.887 0.0426083Z"
          fill="#06B6D4"
        ></path>
      </svg>
    </a>
    {{#if (has-block "env-switcher")}}
      <div>
        {{yield to="env-switcher"}}
      </div>
    {{/if}}
  </div>

  <div class="flex items-center space-x-2">
    {{#if (has-block "help-menu")}}
      <div>
        {{yield to="help-menu"}}
      </div>
    {{/if}}

    {{#if (has-block "user-menu")}}
      <div>
        {{yield to="user-menu"}}
      </div>
    {{/if}}
  </div>
</header>