<div data-test-mox-list ...attributes>
  {{! template-lint-disable table-groups  }}
  <table class="{{if @isFixed 'table-fixed' 'table-auto'}} w-full text-left">
    <Mox::List::Header>
      {{yield (hash sortByColumn=this.sortByColumn sortedBy=this.sortedBy) to="header"}}
    </Mox::List::Header>
    <Mox::List::Body>
      {{yield this.sortedItems to="body"}}
    </Mox::List::Body>
  </table>
  {{! template-lint-enable table-groups  }}
</div>
