<div data-test-mox-list ...attributes>
  <table class="table-auto w-full text-left">
    <Mox::List::Header>
      {{yield to="header"}}
    </Mox::List::Header>
    <Mox::List::Body>
      {{yield to="body"}}
    </Mox::List::Body>
  </table>
</div>
