<div class="relative" ...attributes>
  <label
    for="mxa-search-input"
    class="absolute inset-y-0 left-0 flex items-center"
    data-test-mxa-search-input-label
  >
    <svg class="text-white fill-current h-4 w-6 mt-0.5 ml-2">
      <use xlink:href={{root-url "/svg-defs.svg#search-16"}}></use>
    </svg>
    <span class="sr-only">Search</span>
  </label>
  <Mox::Input class="pl-8" @id="mox-search-input" @placeholder="Search..." @onInput={{@onInput}} />
</div>
