<section
  class="w-full bg-white dark:bg-gray-800 rounded-lg border border-transparent dark:border-gray-700 focus-within:border-cyan-700 text-gray-700 dark:text-white drop-shadow p-8"
  ...attributes
>

  {{yield}}

</section>
