<li data-test-mox-tab-item={{@route}}>
  <Mox::Link
    @route={{@route}}
    class="{{if @isActive 'arg-active'}}
      mox-tab-link hover:border-gray-500 hover:border-dotted hover:text-white cursor-pointer"
    tabindex="0"
    ...attributes
  >
    {{yield}}
  </Mox::Link>
</li>