<div data-test-mxa-overview-list ...attributes>
  <table class="table-auto w-full text-left">
    <thead data-test-pipelines-list-header>
      <tr class="border-b border-gray-200">
        {{yield to="header"}}
      </tr>
    </thead>
    <tbody class="text-sm text-gray-500" data-test-mxa-overview-list-body>
      {{yield to="body"}}
    </tbody>
  </table>
</div>