<div class="relative" ...attributes>
  <label
    for="mxa-search-input"
    class="absolute inset-y-0 left-0 flex items-center"
  >
    <svg class="text-slate-60 fill-current h-4 w-6 mt-0.5 ml-2">
      <use xlink:href="/svg-defs.svg#search-16"></use>
    </svg>
    <span class="sr-only">Search</span>
  </label>
  <input
    id="mxa-search-input"
    type="text"
    class="mxa-input rounded bg-white border border-slate-20 placeholder-slate-60 pl-8 pr-4 py-2 w-full text-sm"
    placeholder={{or @placeholder "Search..."}}
    {{on 'input' @onInput}}
  />
</div>
